*{
    margin: 0;
    padding: 0;
}


/**utilities*/

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.m-1{
    margin: .25rem;
}

.m-2{
    margin: .5rem;
}

.m-3{
    margin: .75rem;
}

.m-4{
    margin: 1rem;
}

.p-1{
    padding: .25rem;
}

.p-2{
    padding: .5rem;
}

.p-3{
    padding: .75rem;
}

.p-4{
    padding: 1rem;
}

/*flex*/
.df{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-space-between{
    justify-content: space-between;
}


.ai-center{
    align-items: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-end{
    align-items: flex-end;
}





/*custom styles*/

body{
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 2rem;
}
h1{
    text-align: center;
    font-weight: 300;
}

.msg{
    background-color: #333;
    color: white;
    padding: 1rem;
    margin: 0;
}



/*book item cotainer*/
.book{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.button-book{
    background-color: rgb(82, 190, 82);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}

/*button hover*/

.button-book:hover{
    background-color: rgb(82, 190, 82, .8);
    cursor: pointer;
}


.search-field{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}